# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
env/


# Flask
instance/
*.sqlite3

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build Output
dist/

# Logs
logs/
*.log

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
*.iml
.vscode/